.Net: New Feature: Supporting additional content-type headers / media types for api calls.

---
name: Feature request
about: Supporting addtional content-type headers / media types for api calls.

---

<!-- ⚠️⚠️ Do Not Delete This! feature_request_template ⚠️⚠️ -->
<!-- Please read our Rules of Conduct: https://opensource.microsoft.com/codeofconduct/ -->
<!-- Please search existing issues to avoid creating duplicates. -->

<!-- Describe the feature you'd like. -->

# what's the need

Http requests/responses which contains header other than the allowed ones currently referenced [here-dotnot](https://github.com/microsoft/semantic-kernel/blob/ab53559399f5f28848fd30d9786c0a6f1d9d78e7/dotnet/src/Functions/Functions.OpenApi/OpenApi/OpenApiDocumentParser.cs#L75) & [here-python](https://github.com/microsoft/semantic-kernel/blob/ab53559399f5f28848fd30d9786c0a6f1d9d78e7/python/semantic_kernel/connectors/openapi_plugin/openapi_parser.py#L51)
are not allowed & give parsing error.  Idea is to enable support for additional headers which belong to same category but differ due to RFC's flexibility to support for more specific and informative header types.

Sample cases:
| Major Syntax | Some Examples |
|:---|:---|
| JSON | `application/json`, `application/problem+json`, `application/ld+json`, `application/json-patch+json`, `application/merge-patch+json` |
| XML | `application/xml`, `application/atom+xml`, `application/soap+xml`, `application/rdf+xml` |
| Text | `text/plain`, `text/html`, `text/csv`, `text/calendar`, `text/markdown` |
| Multipart | `multipart/form-data`, `multipart/related`, `multipart/mixed` |
| Vendor Specific | `application/vnd.api+json`, `application/vnd.github+json`, `application/vnd.ms-excel` |

To being with I'd suggest to focus only on JSON based extensions on the format of `application/<something>+json` referenced in following RFCs:
- [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902#section-6)
- [RFC 7386](https://datatracker.ietf.org/doc/html/rfc7386#section-4)
- [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807#section-6)

- This will also enable some of the API like Azure DevOps which expects such content headers. [Ref](https://learn.microsoft.com/en-us/rest/api/azure/devops/wit/work-items/update?view=azure-devops-rest-7.1&tabs=HTTP)

I can help with the PR for the above but was wondering to know the plan and/or thoughts of maintainers on this & if a common thought is there - happy to work on this.

EDIT:  I mistakenly said above that currently it gives parsing errors.  I see that it's conciously ignored from a PR. Seems like a thought through step for the time being.


Hi @beyondszine, thanks for volunteering to add support for the application/*+json types. These and others are not yet supported because no one has asked for them. So, please go ahead and open a PR, or ideally, a few small ones to simplify the review process.